* {
  margin: 0px;
  padding: 0px;
  font-family: Viga;
}

body {
  background: whitesmoke;
  height: 637px;
}

.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: fixed;
  background: rgba(0, 0, 0, 0.4);
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 0 15px;
}

.main h2 {
  text-align: center;
  color: white;
  text-transform: uppercase;
}

.calculator-container {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  margin-bottom: 10px;
}

.history-table {
  width: 100%;
  border-collapse: collapse;
}

.history {
  font-size: 14px; /* Adjust font size as needed */
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f8f8f8;
  margin-bottom: 5px;
  overflow-y: auto;
  max-height: 100px; /* Set a max height for the history */
}

.button {
  width: 50px;
  height: 50px;
  font-size: 25px;
  margin: 2px;
  cursor: pointer;
  border: none;
  background: #607d8b;
  color: white;
  border-radius: 25px;
}

.btn-green {
  background: lightgreen;
  color: #607d8b;
}

.textarea {
  width: 204px;
  margin: 4px;
  font-size: 20px;
  padding: 10px;
  border: none;
  color: #607d8b;
  border-radius: 25px;
  text-align: right;
}
